// BOOTSTRAP MODIFICATIONS
$body-color: #455a64;
$link-color: #00BCD4;
$primary-color: #F37021;

body { padding-top: 100px !important; color: $body-color}

.thumbnail {
	box-shadow: 0 2px 2px 0 rgba(153, 153, 153, 0.14),
	0 3px 1px -2px rgba(153, 153, 153, 0.2),
	0 1px 5px 0 rgba(153, 153, 153, 0.5);
	border-radius: 6px; border: 0; padding: 0;
	transition: box-shadow 0.3s;
	img { border-radius: 6px; }
	&:hover {
		box-shadow: 0 14px 26px -12px rgba(153, 153, 153, 0.42),
		0 4px 23px 0px rgba(0, 0, 0, 0.2),
		0 8px 10px -5px rgba(153, 153, 153, 0.3)
	}
}

.rating {
	i {color: rgb(255, 103, 0); opacity: 0.7; transition: opacity 0.3s;}
	i:hover {opacity: 1;}
}

a { text-decoration: none; transition: color 0.3s; color: $link-color;
	&:hover { text-decoration: none; color: $primary-color }
}

.click-able {cursor: pointer;}

.btn {
	box-shadow: 0 2px 2px 0 rgba(153, 153, 153, 0.14), 0 3px 1px -2px rgba(153, 153, 153, 0.2), 0 1px 5px 0 rgba(153, 153, 153, 0.12);
	transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
	&.btn-default { border-color: rgba(195, 207, 213, 0.6); color: $body-color }
	&:hover { box-shadow: 0 14px 26px -12px rgba(153, 153, 153, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(153, 153, 153, 0.2) }

	&.btn-primary { background-color: #00BCD4; border: 0;
		box-shadow: 0 2px 2px 0 rgba(39, 160, 176, 0.14), 0 3px 1px -2px rgba(39, 160, 176, 0.2), 0 1px 5px 0 rgba(39, 160, 176, 0.12) }
	&.btn-primary:hover {
		box-shadow: 0 14px 26px -12px rgba(39, 160, 176, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(39, 160, 176, 0.2) }
}

.text-primary {color: $primary-color !important}

// SECTION: GLOBAL COMPONENTS
.global {

	&__navbar {
		margin-bottom: 50px;
		background-image: linear-gradient(90deg, #003e52 50%, #0d6d85 87%, #1a9cb7 100%);
		color: #ffffff;
		border-left: none; border-right: none; border-radius: 0;
		box-shadow: 0 10px 20px -12px rgba(0, 0, 0, 0.42), 0 3px 20px 0px rgba(0, 0, 0, 0.12),
		0 8px 10px -5px rgba(0, 0, 0, 0.2);

		.navbar-brand { color: #fff; text-transform: uppercase; transition: opacity 0.3s;
			img {height: 30px;}
			&:hover { color: #fff; opacity: 0.5 }
			&:focus { color: #fff }
		}
		li > a.btn-add-new-post { color: #fff; background: rgba(256, 256, 256, 0.1); transition: background 0.3s;
			&:hover { color: #fff; background: rgba(256, 256, 256, 0.3) }
		}
	}

	&__post {
		& {margin-bottom: 50px;}
		.thumbnail {height: 166px; overflow: hidden; background-size: cover;}
		.caption { padding-left: 30px; }
		a.post-title { transition: color 0.3s; text-transform: lowercase; display: block;
			line-height: 26px; font-size: 23px;
			&:first-letter {text-transform: uppercase;}
		}
		.original-price {text-decoration: line-through; color: #90a4ae;}
	}

	&__sidebar {
		& {border-left: 1px solid #00BCD4;padding-left: 20px;}

		.categories { padding-left: 0; list-style-position: inside;
			li {
				padding: 5px 0; border-bottom: 1px dashed #ddd; border-top: 1px dashed #ddd; margin-bottom: -1px;
				a { color: $body-color}
				a:hover {color: $primary-color}
			}

		}
	}
}

.page {

	&__list-all-post {
		.sort {
			label {margin-bottom: 0; padding-left: 3px;}
			.radio-inline {line-height: 19px;}
		}

		// For small phones
		@media (max-width: 575.98px) {
			.thumbnail {margin-bottom: 20px;}
			.caption {padding-left: 15px;}
			.all-products {display: block;margin-top: -15px;margin-bottom: -10px;}
		}
	}

	&__post-detail {
		h3 {text-transform: lowercase;
			&:first-letter {text-transform: uppercase;}
		}
		.thumbnail {background-size: cover; height: 150px;}
		.original-price {text-decoration: line-through; color: #90a4ae;}
		.actions {margin-top: 28px;}

		// For small phones
		@media (max-width: 575.98px) {
			h3 {margin-top: -15px;}
			.thumbnail {margin-bottom: 20px;}
		}
	}
}
